<div>
    <div class="containerPurple">
        <div class="box text-center">
            <h1>
                You've {{amount}} {{prize}} <br>
                to use now
            </h1>
            <br><br>
            <button class="btn btn-primary btn-xl" routerLink="alert" routerLinkActive="active">
                <img src="../../assets/icon-tick.svg">
            </button>
        </div>
    </div>
</div>