$primaryColor: #FF4DC1;
$colorWhite: #fff;
$titlesColor1: #252525;
$titlesColor2: #00A49C;
$buttonColor: #DDE4E4;
$font: "Helvetica Bold";

.box{
    background: $colorWhite;
     width: 600px;
     height: 290px;
     position: absolute;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     padding-top: 3%;
    margin: auto;
}

h2 {
    color: $primaryColor
}

h1 {
    color: $titlesColor2;
    font-size: 2.5rem;
}
button {
    background: $buttonColor;
    color: $colorWhite;
    border-color: $buttonColor;
    padding: .575rem 3.5rem;
    border-radius: .95rem;
    font-size: 22px;
}

button:hover {
    background: $buttonColor;
}

$breakpoint-mobile: 768px;
@media (max-width: $breakpoint-mobile) {
    .box{
        width:90vw;
        padding-top: 9%;
    }

}
