<div class="container">
    <div class="box text-center col-md-12 col-sm-6">
        <h1>
            {{data.amount}} {{data.prize}} <br>on {{data.game}}
        </h1>
        <h2>
            00:{{data.countdown}}
        </h2>
        <button class="btn btn-primary btn-xl" (click)="send()">
            Claim Now
        </button>
    </div>
</div>