$primaryColor: #FF4DC1;
$colorWhite: #fff;
$titlesColor1: #252525;
$titlesColor2: #00A49C;
$buttonColor: #FF18B0;
$font: "Helvetica Bold";
$colorPurple: #dd77dd;

.containerPurple {
    background: $colorPurple
}
.box{
    background: $colorWhite;
     width: 43.2vw;
     height: 20.71rem;
     position: absolute;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     padding-top: 3%;

     margin: auto;

}

h2 {
    color: $primaryColor;
    // font-size: 2.09vw;
    font-size: 2.14rem;
}

h1 {
    color: $titlesColor1;
    font-size: 2.5rem;
}
button {
    background: $buttonColor;
    color: $colorWhite;
    border-color: $buttonColor;
    padding: .66vw 4.03vw;
    border-radius: 1.09vh;
    font-size: 1.57rem;
}

button:hover {
    background: $buttonColor;
}

$breakpoint-mobile: 768px;
@media (max-width: $breakpoint-mobile) {
    .box{
        width:90vw;
        padding-top: 16%;
    }

}
